@model IEnumerable<CarLocadora.Modelo.Modelos.ManutencaoVeiculoModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-2">
        <p>
            <a asp-action="Create" class="btn btn-success">Novo</a>
        </p>
    </div>
    <div class="col-md-7">
        <h3 style="text-align: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
            Manutenção de veiculos
        </h3>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeiculoPlaca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Garantia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInclusao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAlteracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VeiculoPlaca)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }, new {@class = "btn btn-warning"}) |
                    @*@Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <button class="btn-danger">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                       data-bs-id="@item.Id" data-bs-nome="@item.Descricao">Excluir</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Manutenção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="divModalTexto" class="mb-3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                @Html.ActionLink("Excluir","Delete", new {@class = "btn btn-danger"}, new {@class = "btn btn-primary"})

            </div>
        </div>
    </div>
</div>
